<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>Vue Sample</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jaldi" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/styles.css" />

    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<main>
    <div id="app" class="container">
        <h1 v-if="message">{{ message }}</h1>
        <p v-else>No message...</p>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" v-model="message" />
            </div>
        </form>

        <pre>{{ $data }}</pre>
    </div>
</main>
<script>
  var vue = new Vue({
    el: '#app',
    data: {
      message: 'Hello World!'
    }
  });
</script>
</body>
</html>